name: Our labs pipeline

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-html:
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: checkout repo content
        uses: actions/checkout@v3

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Set up JDK 23
        uses: actions/setup-java@v3
        with:
          java-version: '23'
          distribution: 'temurin'
          architecture: x64

      - name: Run Java script and replace output in HTML
        run: |
          chmod +x .github/gen-html.sh
          .github/gen-html.sh


      - name: Setup GitHub Pages
        uses: actions/configure-pages@v3

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: ".github/out/"

      - name: Deploy to pages
        id: deployment
        uses: actions/deploy-pages@v2